@import "fonts.css";
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
* {
    line-height: 22px;
}

/*Логотип (header)*/
.logo {
    margin-top: 51px;  
    float: left;   
}

/*Номера телефонів (header)*/
.call {
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-size: 22px;
    letter-spacing: 0.025em;
    color: #767676;
    margin-top: 60px;
    float: right;
    line-height: 30px;
}

/*Хедер*/
.header {
    background-color: #dcdcdc;
    height:190px;
    width: 100%;
}

.header2 {
    display:flex;
    flex-direction:column;
    height:80px;
    background-color: #777777;
}

.header2_1 {
    margin-top: 600px;
    height:200px;
    background-color: #777777;    
}

.header_menu {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-size: 28px;
    line-height: 70px;
    letter-spacing: 0.025em;
    color: #ffffff;
}

/*Блок для фото, що в'їжджає в меню*/
.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    z-index: 200;    
}

/*Параметри зображення*/
.image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    z-index: 200;
    margin-top: -40px;    
}

/*Новини, перший блок*/
.news{
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
    line-height: 22px;
    font-weight: 400;
    width: 300px;
    height: 440px;
    letter-spacing: 0.025em;
    padding-left: 25px;
    padding-bottom: 50px;
    background-color: grey;
    color: white;
    float: left ;
    margin-top: 15px;
    padding-top: 10px;
 }

 /*Новини, другий блок*/
.news2 {
    margin-top: 35px;
    font-size: 14px;
    width: 605px;
    height: 400px;
    float: right;
    right: 0;
    color:#777777;
    font-family: 'PT Sans', sans-serif;
    line-height: 22px; 
}

.novosti {
    font-family: 'PT Sans', sans-serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: 700;
    letter-spacing: 0.025em;
    color: #ffffff;
}

.wrapper {
    width:100%;
}

.container { 
    background-color:#dcdcdc;
    width: 980px;
    margin: 0 auto; 
    font-family: 'PT Sans', sans-serif; 
}

.container2 {
    display: flex;
    flex-direction: column;
    background-color:#dcdcdc;
    margin: 0 auto; 
    font-family: 'PT Sans', sans-serif;
}

.container3 { 
    background-color:#dcdcdc;
    width: 980px;
    margin: 0 auto; 
    font-family: 'PT Sans', sans-serif; 
}

.container4 { 
    background-color: #777777;
    color: #ffffff;
    width: 980px;
    margin: 0 auto;  
    padding-top: 42px;
    font-family: 'PT Sans', sans-serif;
}

/*Посилання в хедері при наведенні*/
.one:hover {
    text-decoration: underline;
    color: #ffffff;
}

/*Посилання в хедері*/
.one {
    color: #ffffff;
    text-decoration: none;
}

/*Посилання*/
.two {    
    color: white;
    text-decoration: none;
}

/*Посилання*/
.three {
    color: white;
    text-decoration: underline;
    text-align: right;
    padding-left: 155px;
}

/*Заголовок*/
.big_text {
    font-family: 'PT Sans';
    font-size: 40px;
    line-height: 22px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #767676; 
}

/*Парамери футера*/
.footer {
    margin-top: 600px;
    height:220px;
    background-color: #777777;
    
}

/*Параметри футера*/
.footer_menu {
    margin-left: auto;
    margin-right: auto;
    
    font-family: 'PT Sans';
    font-size: 19px;
    line-height: 70px;
    letter-spacing: 0.025em;
    color: #ffffff;
    display: inline;
}

/*Перша область в футері*/
.foot1 {
    float: left;
    font-family: 'PT Sans', sans-serif;
}

/*Друга обасть в футері*/
.foot2 {
    margin-left: 170px;
    margin-right: 110px;
    margin-top: -15px;
    font-family: 'PT Sans', sans-serif;
    float: left;
}

/*Третя область в футері*/
.foot3 {
    float: left;
    width: 246px;
    height: 38px;

}


/* Прибираємо маркери */
li {
    list-style-type: none; 
   }

/*Змінюємо стиль посилання в футері*/
.urls {
    color: white;
    font-family: 'PT Sans', sans-serif;
}
